@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-container {
  padding: 30px;
}

/* HEADING */

.heading {
  text-align: center;
}

.heading__title {
  font-weight: 600;
}
.card-deck {
  justify-content: center;
}

.heading__credits {
  margin: 10px 0px;
  color: #888888;
  font-size: 25px;
  transition: all 0.5s;
}

.heading__link {
  text-decoration: none;
}

.heading__credits .heading__link {
  color: inherit;
}

/* CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.card {
  margin: 20px;
  width:350px;
  min-height: 200px;
  display: grid;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.card2 {
  margin: 20px;
  width:350px;
  max-width: 350px;
  min-height: 200px;
  display: grid;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}




.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  
  transform: scale(1.1); 
}

.card__link,
.card__exit,
.card__icon {
  
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  font-style: oblique;
}

.card__link::after {
  position: absolute;
  top: 36%;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link2 {
  
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  font-style: oblique;
}
.card__link2::after {
  position: absolute;
  bottom: 3%;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}
.card__link2:hover::after {
  width: 100%;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
}





/* CARD BACKGROUNDS */

.card-1 {
  background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
  background: radial-gradient(#fbc1cc, #fa99b2);
}

.card-3 {
  background: radial-gradient(#76b2fe, #b69efe);
}

.card-4 {
  background: radial-gradient(#60efbc, #58d5c9);
}

.card-5 {
  background: radial-gradient(#f588d8, #c0a3e5);
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}



/******************************/


.column2 {
  float: left;
  width: 25%;
  padding: 10px;
   /* Should be removed. Only for demonstration */
}
p{
  text-align: center;
}
.column1 {
  float: left;
  width: 75%;
  padding: 10px;
   /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
}












/******************eskiler********/







.iconDetails {
    margin:0 2%;
    float:left;
    height:40px;
    width:40px;
}
.container2 {
    width:100%;
    height:auto;
    padding:1%;
}
.text {
    float:left;
}
.text h4, .text p {
    width:100%;
    float:left;
    font-size:0.6em;
}
.text p span {
    color:#666;
}


.column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .card:hover{

    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1);
}



.column2 {
  float: left;
  width: 25%;
  padding: 10px;
   /* Should be removed. Only for demonstration */
}
p{
  text-align: center;
}
.column1 {
  float: left;
  width: 75%;
  padding: 10px;
   /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
}




/* ************************************** */


.logo{
  width: 70px;
  height: 70px;

}

.carousel{
  width: 100%;
  height: 400px;
}

.profilePic{
  width: 120px;
  height: 120px;
}

.detay{
  transition: transform 0.5s, background-color 1s, color 1s;
}

.detay:hover{
  transform: translateY(-50px);
  background-color: black;
  color:white;
}

.kareKutu{
  position: relative;
  width: 100px;
  height: 100px;
  background-color: black;
  transform: rotate(45deg);
  transition: 1s;
  
}

.kareKutu > .kare{
  position: absolute;
  margin: 0px 0px 0px 0px;
  color: white;
  width: 50px;
  height: 50px;
  transform: rotate(-45deg);
  transition: 1s;
}

.kareKutu:hover{
  transform: rotate(-360deg);
  background-color: orange;
  border-radius: 50%;
}

.kareKutu > .kare:hover{
  transform: rotate(0deg);
  color: black;
}


.profilePicArticle{
  width: 30px;
  height: 30px;
}

.ArticlePic{
  width: 200px;
  height: 200px;
}



/*******************FORM  ************/


.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 20px;
  }
  form {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 20px 0 #a82877; 
  }
  .banner {
  position: relative;
  height: 210px;
  background-image: url("/uploads/media/default/0001/02/8ca4045044162379597641472fa0bb5489ba418f.jpeg");      background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  .banner::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5); 
  position: absolute;
  width: 100%;
  height: 100%;
  }
  input, textarea, select {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  }
  input {
  width: calc(100% - 10px);
  padding: 5px;
  }
  select {
  width: 100%;
  padding: 7px 0;
  background: transparent;
  }
  textarea {
  width: calc(100% - 12px);
  padding: 5px;
  }
  .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
  color: #a82877;
  }
  .item input:hover, .item select:hover, .item textarea:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 6px 0 #a82877;
  color: #a82877;
  }
  .item {
  position: relative;
  margin: 10px 0;
  }
  input[type="date"]::-webkit-inner-spin-button {
  display: none;
  }
  .item i, input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  font-size: 20px;
  color: #a9a9a9;
  }
  .item i {
  right: 1%;
  top: 30px;
  z-index: 1;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
  right: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  }
  input[type="time"]::-webkit-inner-spin-button {
  margin: 2px 22px 0 0;
  }
  input[type=radio], input.other {
  display: none;
  }
  label.radio {
  position: relative;
  display: inline-block;
  margin: 5px 20px 10px 0;
  cursor: pointer;
  }
  .question span {
  margin-left: 30px;
  }
  label.radio:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #ccc;
  }
  #radio_5:checked ~ input.other {
  display: block;
  }
  input[type=radio]:checked + label.radio:before {
  border: 2px solid #a82877;
  background: #a82877;
  }
  label.radio:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 5px;
  width: 7px;
  height: 4px;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0;
  }
  input[type=radio]:checked + label:after {
  opacity: 1;
  }
  .btn-block {
  margin-top: 10px;
  text-align: center;
  }
  
  button:hover {
  background: #bf1e81;
  }
  @media (min-width: 568px) {
  .name-item, .city-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  .name-item input, .city-item input {
  width: calc(50% - 20px);
  }
  .city-item select {
  width: calc(50% - 8px);
  }
  }


/***************DENEME***********************/

  
  
  legend {
  padding: 10px;      
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #1c87c9;
  }
  textarea {
  width: calc(100% - 12px);
  padding: 5px;
  }
  .testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 20px;
  }
  form {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 8px #006622; 
  }
  .banner {
  position: relative;
  height: 250px;
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/241/380/995/mountains-river-snow-forest-dual-monitors-ultra-wide-nature-landscape-digital-art-trees-wallpaper-thumb.jpg");  
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  .banner::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4); 
  position: absolute;
  width: 100%;
  height: 100%;
  }
  input, select, textarea {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  }
  input {
  width: calc(100% - 10px);
  padding: 5px;
  }
  input[type="date"] {
  padding: 4px 5px;
  }
  textarea {
  width: calc(100% - 12px);
  padding: 5px;
  }
  .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
  color:  #006622;
  }
  .checkbox input[type=checkbox] {
  display:inline-block;
  height:15px;
  width:15px;
  margin-right:5px;
  vertical-align:text-top;
  }
  .item input:hover, .item select:hover, .item textarea:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 3px 0  #006622;
  color: #006622;
  }
  .item {
  position: relative;
  margin: 10px 0;
  }
  .item span {
  color: red;
  }
  .week {
  display:flex;
  justfiy-content:space-between;
  }
  .colums {
  display:flex;
  justify-content:space-between;
  flex-direction:row;
  flex-wrap:wrap;
  }
  .colums div {
  width:48%;
  }
  input[type=radio], input[type=checkbox]  {
  display: none;
  }
  label.radio {
  position: relative;
  display: inline-block;
  margin: 5px 20px 15px 0;
  cursor: pointer;
  }
  .question span {
  margin-left: 30px;
  }
  .question-answer label {
  display: block;
  }
  label.radio:before {
  content: "";
  position: absolute;
  left: 0;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid #ccc;
  }
  input[type=radio]:checked + label:before, label.radio:hover:before {
  border: 2px solid  #006622;
  }
  label.radio:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 8px;
  height: 4px;
  border: 3px solid  #006622;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0;
  }
  input[type=radio]:checked + label:after {
  opacity: 1;
  }
  .flax {
  display:flex;
  justify-content:space-around;
  }
  .btn-block {
  margin-top: 10px;
  text-align: center;
  }
  
  button:hover {
  background:  #0692e8;
  }
  @media (min-width: 568px) {
  .name-item, .city-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  .name-item input, .name-item div {
  width: calc(50% - 20px);
  }
  .name-item div input {
  width:97%;}
  .name-item div label {
  display:block;
  padding-bottom:5px;
  }
  }

/*******************FORM  ************/